<%- include('includes/head.ejs') %>
<body>
    <main>
        <form class="product-form" action="/" method="POST">
            <div class="form-control">
                <label for="name">Username</label>
                <input type="text" name="name" id="name">
            </div>
            <button class="btn" type="submit">Add User</button>
        </form>
    </main>
</body>
</html>