<%- include('includes/head.ejs') %>
<body>
    <main>
        <% if(users.length > 0) { %>
            <h1>Users</h1>
            <ul>
                <% for (let user of users) { %>
                    <li><p><%= user.Name %></p></li>
                <% } %>
            </ul>
        <% } else { %>
            <h1>No Users Found!</h1>
        <% } %>
        <a href="/">back</a>
    </main>
</body>
</html>